.app {
  background-color: rgb(6, 126, 238);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: max-content;
  margin: 70px;
}

.card {
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  width: 270px;
  margin: 2rem;
  padding: 25px;
}

.card:hover {
  margin-top: 2%;
  cursor: pointer;
}

.card-1 {
  text-align: center;
}

.size {
  font-size: small;
  font-style: normal;
}

.card-1a {
  font-size: smaller;
  color: gray;
}